/* Header starts */
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
}
.wrapper{
    position: relative;
    height: 100vh;

}

.logo{
    width: 300px;
}
.logo img{
    width: 100px;
}

header{
    width: 100%;
    justify-content: center;
    margin: auto 0;
    display: flex;
    align-items: center;
    padding: 0px 30px;
    justify-content: space-between;

}

header ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

header ul li{
    margin: 0 .4rem;
}
header ul li a{
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 20px;
  padding: 15px 20px;
  border-radius: 20px;
  transition: all ease .3s;
}

header ul li a:hover{
  background:#25509E ;
  color: #fff;
}
header ul li a.btn{
    color:#fff ;
    background-color: #25509E;
    padding: 15px 40px;
}
header ul li a.btn:hover{
    color:#25509E ;
    background-color: #fff;
  
}


/* sub menu */

.submenu{
    max-width: 200px;
    position: absolute;
    background-color: #fff;
    border-radius:10px ;
    box-shadow: -2px 2px 3px #333;
    padding-left: 0;
    margin-top: 15px;
    opacity: 0;
    transition: all ease .5s;
    z-index: 1;
    display: block;
}

ul li:hover .submenu{
    opacity: 1;
    margin: 20px 0;
    border: 1px solid black;
    
}
.submenu li{
margin: 0;

}
.submenu li a{
    display: block;
    width: 100%;
    font-size: 15px;
    text-align: center;
    border-radius: 0;
}

.submenu li:first-child a{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.submenu li:last-child a{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

/* Submenu ends here */

/* Sliders starts */

#home{
    height: 90%;
    background-color:#EBEBEB ;
}
.slider-wrapper{
    width: 70%;
    height: 70vh;
   
    display: flex;
    justify-content: center;
    align-items: stretch ;
    margin: 0 auto;
    position: relative;
    top: 50px;
}
.slider.active{
    width: 50%;
    border-radius: 50%;
    animation: move-down 1.5s ease-in infinite alternate-reverse;
}

@keyframes move-down {
    from {
        transform: translateY(-15px);
    }
    to{
        transform: translateY(0);
    }
}

.slider{
    margin-right: 10px;
    height: 100%;
    width: 10%;
    border-radius: 60px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all ease-in-out 400ms;
    background-position: center center;
    background-size: cover ;
    background-repeat: no-repeat;

}

.pic-1{
    background-image: url('../images/image1.jpg');
}
.pic-2{
    background-image: url('../images/image2.jpg');
}
.pic-3{
    background-image: url('../images/image3.jpg');
}
.pic-4{
    background-image: url('../images/image4.jpg');
}
.pic-5{
    background-image: url('../images/image5.jpg');
}

header .fa-bars{
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: #333;
}

@media (max-width:850px) {
    .slider.active{
        border-radius: 20px;

    }

    header .fa-bars{
        display: block;
        z-index: 1;
    }
    
    nav{
        position: fixed;
        height: 80%;
        width: 70%;
        top: -100%;
        left: 0;
        box-shadow: 0 1rem 3rem #333;
        font-weight: bold;
        background-color: #fff;
        z-index: 1;
        transition: all ease-in .4s;
       
    }
    nav ul{
        position: absolute;
        width: 100%;
        padding-left: 0;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin: 4rem auto;
    }

    nav ul li{
        margin: 1.5rem auto;
    }

    nav ul li a{
        font-size: 1rem;
    }

    .submenu{
        position: absolute;
        left: 0;
        width:150px;
    }
    .nav-toggle{
        top: 0;
    }

    .logo{
        width: 300px;
    }
    .logo img{
        width: 50px;
    }
    header{
        padding: 10px 20px;
    }
}